@import url('https://fonts.cdnfonts.com/css/ds-digital');

body {
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calculator {
    height: 75vh;
    width: 50vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #d3d3d3;
    padding-top: 10%;
}

#display {
    height: 100%;
    background-color: white;
    margin-left: 9%;
    margin-right: 9%;
    border-radius: 30px;
    padding-left: 5%;
    font-family: 'DS-Digital', sans-serif;
    font-size: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    position: relative;
    height: 0;
    width: 15%;
    padding-top: 3%;
    padding-bottom: 12%;
    font-size: 4vh;
    border-radius: 15px;
}